<aside>
    <div class="container">
        <div class="row">
            <article class="span2 contacts">
                <h3>Contacts</h3>
                <address class="address-1">
                    <span><i class="fa fa-phone"></i>+1 585 721 7678</span> <span class="mail-info"><i class="fa fa-envelope"></i><a href="mailto:support@duvitech.com">support@duvitech.com</a></span> <span>
                        <i class="fa fa-map-marker"></i>38 Diana Dr,
                        Rochester, NY 14546
                    </span>
                </address>
                <a class="link-1" href="#">Open in Google Maps</a>
            </article>
            <article class="span2 info">
                <h3>Information</h3>
                <ul class="list-footer">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms &amp; Condition</a></li>
                </ul>
            </article>
            <article class="span3 tweets">
                <h3>Latest Tweets</h3>
                <div id="twitter"></div>
            </article>

            <!--========Facebook========-->

            <article class="span3 fbook">
                <h3>Join Us on Facebook</h3>
                <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Ffantemplates&amp;width=235&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=438889712801266" style="border:none; overflow:hidden; width:235px; height:258px;"></iframe>
            </article>
            <article class="span2 form-newsletter">
                <h3>Newsletter</h3>
                <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                <form id="newsletter-form">
                    <input id="Invalid" name="Invalid" type="hidden" class="form-control" value="false">
                    <div class="rel">
                        <input id="EmailAddress" name="EmailAddress" type="email" placeholder="Your email address" >
                        <button type="submit" class="btn-small btn-blue" data-type="submit">Subscribe</button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</aside>
