<footer>
    <div class="container clearfix block-bottom">
        <article class="privacy"> © 2014 <span>Duvitech</span>. All Rights Reserved. </article>
        <div class="social-bottom">
            <!-- AddThis Button BEGIN -->
            <span class="payment"><img alt="" src="~/img/img-pay.png"></span>
            <!-- AddThis Button END -->
        </div>
    </div>
</footer>
