    <!--========revolution_slider========-->
<article class="boxedcontainer">

    <!--
    #################################
      - THEMEPUNCH BANNER -
    #################################
    -->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="~/img/bg/customSoftware.jpg" alt="slidebg1">
                    <!-- LAYERS -->

                    <div class="slider-caption">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption text1  customout"
                             data-x="0"
                             data-y="65"
                             data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1200"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 2">
                            Attractive &amp; Powerful
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption text2 customout"
                             data-x="0"
                             data-y="123"
                             data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="700"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="on"
                             style="z-index: 3">
                            Website Template
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption text3 customout"
                             data-x="0"
                             data-y="192"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="800"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                            Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus<br> et ultrices posuere cubilia curae. Suspendisse sollicitudin velit sed leo.<br> Ut pharetra augue nec augue.
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption text4 customout"
                             data-x="0"
                             data-y="320"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="900"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="on"
                             style="z-index: 5">
                            <a href="#" class=" btn-large btn-shadow">Get Details </a>
                        </div>

                    </div>


                </li>
                <!-- SLIDE  -->
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" class="slide-item2">
                    <!-- MAIN IMAGE -->
                    <img src="~/img/bg/slide-enterprise-blue.jpg" alt="slidebg2">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption slide-item2 text1 customin "
                         data-x="center"
                         data-y="70"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="500"
                         data-easing="Power3.easeInOut"
                         data-endspeed="300"
                         style="z-index: 2">
                        Premium Theme That
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption slide-item2 text2 customin "
                         data-x="center"
                         data-y="130"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="800"
                         data-easing="Power3.easeInOut"
                         data-endspeed="300"
                         style="z-index: 3">
                        Will Not Leave You Indifferent
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption text3 customin"
                         data-x="center"
                         data-y="200"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1300"
                         data-easing="Power3.easeInOut"
                         data-endspeed="300"
                         style="z-index: 4">
                        Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod<br> in,auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis.
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption text4 customin"
                         data-x="center"
                         data-y="307"
                         data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1500"
                         data-easing="Power3.easeInOut"
                         data-endspeed="300"
                         style="z-index: 5">
                        <a href="#" class=" btn-large btn-shadow">Get Details </a>
                    </div>

                </li>

                <!-- SLIDE  -->
                <li data-transition="zoomin" data-slotamount="7" data-masterspeed="600">
                    <!-- MAIN IMAGE -->
                    <img src="~/img/bg/electrical-engineering-wallpaper-1.jpg" alt="slidebg3">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption text1_1 customout "
                         data-x="center" data-hoffset="300"
                         data-y="88"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="400"
                         data-start="1400"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-captionhidden="on"
                         style="z-index: 2">
                        Extremely
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption text1_1 color-text1 customout"
                         data-x="center" data-hoffset="300"
                         data-y="143"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="400"
                         data-start="1650"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-captionhidden="on"
                         style="z-index: 3">
                        Responsive
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption text1_1 customout"
                         data-x="center" data-hoffset="300"
                         data-y="200"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="400"
                         data-start="1900"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-captionhidden="on"
                         style="z-index: 4">
                        Layout
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption text1_2 customout"
                         data-x="center" data-hoffset="300"
                         data-y="275"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="400"
                         data-start="2150"
                         data-easing="Power4.easeOut"
                         data-endspeed="500"
                         data-captionhidden="on"
                         style="z-index: 5">
                        Suspendisse sollicitudin velit sed leo. Ut pharetra augue<br> nec augue. Nam elit agna, endrerit sit amet, tincidunt ac,<br> viverra sed, nulla. Donec porta diam eu massa.
                        <strong>Quisque diam lorem, interdum vitae.</strong>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>

    <!-- THE SCRIPT INITIALISATION -->
    <!-- LOOK THE DOCUMENTATION FOR MORE INFORMATIONS -->
    <!-- END REVOLUTION SLIDER -->


</article>


