
@{
    Layout = null;
}

<div class="panel">
    <div class="container">
        <div class="clearfix">

            <!--===========top menu===============-->
            
            <nav id="menu-nav">
                <div id="menu-button"> <i class="fa fa-align-justify"></i> </div>
            </nav>
            <ul class="list-panel">
                <li><a href="#">Account</a></li>
                <li><a href="#">Wishlist</a></li>
                <li><a href="#">Checkout</a></li>
                <li><a href="#">Log In</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>

            <!--===========end top menu===============-->
            <!--===========block_language===============-->

            <ul class="block_language clearfix">
                <li class="language">
                    <a href="#" class="slct"><em class="icon"><img src="~/img/flags/us.png" alt=""></em>English</a>
                    <ul class="drop">
                        <li><a href="#"><em class="icon"><img src="~/img/flags/us.png" alt=""></em>English</a></li>
                        <li><a href="#"><em class="icon"><img src="~/img/flags/ca.png" alt=""></em>Canada</a></li>
                        <li><a href="#"><em class="icon"><img src="~/img/flags/mx.png" alt=""></em>Mexico</a></li>
                    </ul>
                    <input type="hidden" id="select" />
                </li>
            </ul>
            <!--===========end block_language===============-->

        </div>
    </div>
</div>