@{

}

@Html.Partial("_IntroSlider")

<div id="content">
    <div class="content-div">
        <div class="container">
            <section class="box-block row extra">
                <article class="span4" data-appear-animation="bounceInLeft">
                    <div class="block-info  maxheight">
                        <div class="inner-block">
                            <img src="~/img/index-img.jpg" alt="">
                            <div class="box-text-small">
                                <h4>Extremely Responsive Layout</h4>
                                <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. </p>
                                <a href="#" class="btn-small">Read More</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="span4" data-appear-animation="bounceInLeft" data-appear-animation-delay="550">
                    <div class="block-info  maxheight">
                        <div class="inner-block">
                            <img src="~/img/index-img_1.jpg" alt="">
                            <div class="box-text-small">
                                <h4>A Ton of Awesome Features</h4>
                                <p>Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. </p>
                                <a href="#" class="btn-small">Read More</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="span4" data-appear-animation="bounceInLeft" data-appear-animation-delay="1100">
                    <div class="block-info  maxheight">
                        <div class="inner-block">
                            <img src="~/img/index-img_2.jpg" alt="">
                            <div class="box-text-small">
                                <h4>Advanced Theme Options</h4>
                                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. </p>
                                <a href="#" class="btn-small">Read More</a>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

            <div class="row tabs-inner">
                <!--========tabs========-->
                <article class="span8" data-appear-animation="fadeInLeft" data-appear-animation-delay="550">

                    <!-- tabs -->
                    <div class="tabbable ">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#one" data-toggle="tab">About Our Company</a></li>
                            <li><a href="#two" data-toggle="tab">Company Philosophy</a></li>
                            <li><a href="#three" data-toggle="tab">Our Mission</a></li>
                        </ul>


                        <div class="tab-content">
                            <div class="tab-pane active" id="one">
                                <figure class="img-polaroid"><img src="~/img/index-img_10.jpg" alt=""></figure>
                                <div class="extra-wrap">
                                    <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
                                    <p>Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet</p>
                                    <a href="#" class="link">Read More</a>
                                </div>

                            </div>


                            <div class="tab-pane" id="two">

                                <figure class="img-polaroid"><img src="~/img/index-img_9.jpg" alt=""></figure>
                                <div class="extra-wrap">
                                    <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
                                    <p>Vestibulum libero nisl. Aenean nec eros. Vestibulum ante. Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet</p>
                                    <a href="#" class="link">Read More</a>
                                </div>

                            </div>


                            <div class="tab-pane" id="three">

                                <figure class="img-polaroid"><img src="~/img/index-img_8.jpg" alt=""></figure>
                                <div class="extra-wrap">
                                    <p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Aenean auctor wisi et urna, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet</p>
                                    <a href="#" class="link">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /tabs -->
                </article>
                <!--========end tabs========-->
                <!--========People Choose========-->

                <article class="span4" data-appear-animation="fadeInRight" data-appear-animation-delay="550">
                    <h3>Why People Choose Us</h3>
                    <ul class="list_1">
                        <li><i class="fa fa-check"></i><a href="#">Aliquam erat volutpat. Duis ac turpis. </a></li>
                        <li><i class="fa fa-check"></i><a href="#">Donec sit amet eros lorem ipsum dolor sit.</a></li>
                        <li><i class="fa fa-check"></i><a href="#">Amet, consectetuer adipiscing elit.</a></li>
                        <li><i class="fa fa-check"></i><a href="#">Mauris fermentum dictum magna.</a></li>
                        <li><i class="fa fa-check"></i><a href="#">Sed laoreet aliquam leo aenean auctor.</a></li>
                        <li><i class="fa fa-check"></i><a href="#">Aliquam erat volutpat duis ac turpis.</a></li>
                        <li><i class="fa fa-check"></i><a href="#">Integer rutrum ante eu lacus vestibulum.</a></li>
                    </ul>
                </article>

                <!--========end People Choose========-->
            </div>

            <!--========row banners========-->
            <div class="row box-banner_1" data-appear-animation="bounceIn" data-appear-animation-delay="550">
                <article class="span6"> <a href="#" class="hover"> <img alt="" class="front" src="~/img/block_banner_1.jpg"> <img alt="" class="back" src="~/img/block_banner_1-hover.jpg"> </a> </article>
                <article class="span6"> <a href="#" class="hover"> <img alt="" class="front front-vert" src="~/img/block_banner_2.jpg"> <img alt="" class="back back-vert" src="~/img/block_banner_2-hover.jpg"> </a> </article>
            </div>
            <!--========end row banners========-->

            <div class="row">
                <!--========Latest News========-->
                <article class="span8" data-appear-animation="bounceInUp" data-appear-animation-delay="550">
                    <h3>Latest News</h3>
                    <div class="row">
                        <ul class="list-news">
                            <li class="span4 m_xm_bottom_20">
                                <div class="badge"> <strong>27<span>APR</span></strong> <em><a href="#"><i class="fa fa-comments-o"></i> 6</a></em> <span><a href="#"><i class="fa fa-film"></i></a></span> </div>
                                <div class="extra-wrap">
                                    <h5><a href="#">Aenean auctor wisi et urna</a></h5>
                                    <span class="txt-1">posted by <a href="#">admin</a> in <a href="#">Work Process</a></span>
                                    <p class="txt-2">Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. </p>
                                    <a href="#" class="link">Read More</a>
                                </div>
                            </li>
                            <li class="span4">
                                <div class="badge"> <strong>21<span>APR</span></strong> <em> <a href="#"><i class="fa fa-comments-o"></i> 139</a></em> <span><a href="#"><i class="fa fa-link"></i></a></span> </div>
                                <div class="extra-wrap">
                                    <h5><a href="#">Vestibulum sed ante</a></h5>
                                    <span class="txt-1">posted by <a href="#">admin</a> in <a href="#">Work Process</a></span>
                                    <p class="txt-2">Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. </p>
                                    <a href="#" class="link">Read More</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </article>
                <!--========end Latest News========-->
                <!--========Client testimonials========-->
                <article class="span4" data-appear-animation="bounceInDown" data-appear-animation-delay="550">
                    <h3>Client testimonials</h3>
                    <!--==========carousel-2=============-->
                    <div class="carousel-2 carousel">
                        <ul id="carousel-2" class="clearfix">
                            <li>
                                <blockquote> <i class="fa fa-quote-left"></i> <em>Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa.</em> <span class="txt-2">John Doe, Co-founder, Company Name</span> </blockquote>
                            </li>
                            <li>
                                <blockquote> <i class="fa fa-quote-left"></i> <em>Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel,  malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. </em> <span class="txt-2">John Doe, Co-founder, Company Name</span> </blockquote>
                            </li>
                            <li>
                                <blockquote> <i class="fa fa-quote-left"></i> <em>Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci  posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. </em> <span class="txt-2">John Doe, Co-founder, Company Name</span> </blockquote>
                            </li>
                        </ul>
                        <div class="div-control"><div class="prev-slide prev-1"></div> <div class="next-slide next-1"></div> </div>
                        <a href="#" class="link">Read More Testimonials</a>
                    </div>
                    <!--==========end carousel-2=============-->
                </article>
                <!--========end Client testimonials========-->
            </div>
        </div>
    </div>
</div>