
@{
    ViewBag.Title = "Refund Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="row-title">
        <div class="container">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="container content-div v_text">
        <div class="row v_typography">
            <ul class="span12 ">
                <li>
                    <h3>Refunds and Exchange Policy</h3>
                    <p>Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange. Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.</p>

                    <h5>Additional non-returnable items:</h5>
                    <ul class="RefundPol">
                        <li>Gift cards</li>
                        <li>Downloadable software products</li>
                        <li>Some health and personal care items</li>
                    </ul>
                    To complete your return, we require a receipt or proof of purchase.

                    Please do not send your purchase back to the manufacturer.
                </li>
                <li>
                    <h5>There are certain situations where only partial refunds are granted: (if applicable)</h5>
                    <ul class="RefundPol">
                        <li>
                            Book with obvious signs of use
                        </li>
                        <li>
                            CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has been opened.
                        </li>
                        <li>
                            Any item not in its original condition, is damaged or missing parts for reasons not due to our error.
                        </li>
                        <li>
                            Any item that is returned more than 30 days after delivery
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Refunds (if applicable)</h3>
                    <p>
                        Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
                        If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.
                    </p>
                </li>
                <li>
                    <h3>Late or missing refunds (if applicable)</h3>
                    <p>
                        If you haven’t received a refund yet, first check your bank account again.
                        Then contact your credit card company, it may take some time before your refund is officially posted.
                        Next contact your bank. There is often some processing time before a refund is posted.
                        If you’ve done all of this and you still have not received your refund yet, please contact us at gvigelet@duvitech.com.
                    </p>
                </li>
                <li>
                    <h3>Sale items (if applicable)</h3>
                    <p>
                        Only regular priced items may be refunded, unfortunately sale items cannot be refunded.
                    </p>
                </li>
                <li>
                    <h3>Exchanges (if applicable)</h3>
                    <p>
                        We only replace items if they are defective or damaged.  If you need to exchange it for the same item, send us an email at gvigelet@duvitech.com and send your item to: 38 Diana Dr Scottsville New York United States 14546.
                    </p>
                </li>
                <li>
                    <h3>Gifts</h3>
                    <p>
                        If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.
                        If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will find out about your return.
                    </p>
                </li>
                <li>
                    <h3>Shipping</h3>
                    <p>
                        To return your product, you should mail your product to: 38 Diana Dr Scottsville New York United States 14546.  You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.  Depending on where you live, the time it may take for your exchanged product to reach you, may vary.  If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.
                    </p>
                </li>
            </ul>
        </div>

    </div>
</div>